body {
    background: black;
    color: white;
}


.login-wrapper, .register-wrapper, .wrapper {
    width: 500px;
    margin: 0 auto;
}

.wrapper-big {
    width: 800px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .wrapper-big {
        width: 100%;
    }
}


.navbar-default {
    background: #B81D18;
}

.navbar-nav > li > a {
    color: white;
}

.displaynone {
    display: none;
}

.pageInterface {
    margin-left: 50px;
}

#cars {
    margin-top: 50px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

td {
    white-space:pre;
    text-align: center;
}

.btn-primary {
    background: #004687
}