body {
    background: #FF5A09;
    color: white;
}


.login-wrapper, .register-wrapper, .wrapper {
    width: 500px;
    margin: 0 auto;
}

.navbar-default {
    background: #393939;
}

.navbar-nav > li > a {
    color: white;
}

.displaynone {
    display: none;
}

.pageInterface {
   margin-left: 50px;
}

#cars {
    margin-top: 50px;
}